VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
REGISTRATION_REQUEST_API_URL=https://api.nschool.app/api/v1/openapi/candidates/send-enrollment-link-by-email
REGISTRATION_REQUEST_API_TOKEN=qGAeAac2KZXXPVjUUiTr0qSBWeYOw6Ghu_YWH0xbs-q78Cpj2fP3dRMwZ2hiNieMA
